name: Build Ventas360 APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Install dependencies
      working-directory: ./app_bodega
      run: flutter pub get

    - name: Build APK
      working-directory: ./app_bodega
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: ventas360-apk
        path: app_bodega/build/app/outputs/flutter-apk/app-release.apk
